body {
    background: #f8feff;
    font-family:"Times New Roman", Times, serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color: #6f7bfc;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}

  .project a {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
